<%= form_with model: tweet, url: url,method: method, local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <%= f.text_field :title, placeholder: "夢のタイトル"%>
  <%= f.text_area :text, placeholder: "夢の内容", rows: "10" %>
  <%= f.text_area :thoughts, placeholder: "夢を見た感想など", rows: "5" %>
  <%= f.text_field :tag_name, placeholder: "タグ", id: 'tweet_tag_name' %>
  <div id="search-result"></div>
  <div class="tweet-form">気持ち</div>
  <%= f.collection_select(:mind_id, Mind.all, :id, :name, {}, {class:"select-box"}) %>
  <div class="tweet-form">カテゴリー</div>
  <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box"})%>
  <div class="tweet-form">夢の長さ</div>
  <%= f.collection_select(:time_length_id, TimeLength.all, :id, :name, {}, {class:"select-box"})%>
  <%= f.submit "投稿", class:"submit-bottom" %>
<% end %>