
<h5 class="card-header"><%= link_to tweet.title, tweet_path(tweet.id) %>　投稿者：<%= link_to tweet.user.nickname, user_path(tweet.user.id) %>（<%= tweet.user.gender_i18n %>・<%= tweet.user.age_i18n %>） #<%= tweet.tags&.first&.tag_name %></h5>
<div class="card-body">
  <div class="d-inline-block text-truncate" style="max-width: 500px;">
   内容：<%= tweet.text %>
  </div>
  <div>
    気持ち： <%= Mind.find(tweet.mind_id)[:name] %>　カテゴリー：<%= Category.find(tweet.category_id)[:name] %>　夢の長さ：<%= TimeLength.find(tweet.time_length_id)[:name] %>
  </div>
</div>
