<%= search_form_for @q, url: search_tweets_path, html: {id: "detailed-search-form"} do |f| %>
  <div class="search-field">
    <%= f.label :title, '夢のタイトル(半角スペースで複数検索)' %>
    <br>
    <%= f.text_field :title, placeholder: '夢のタイトル', value: params[:q]&.dig(:title) %>
  </div>
   <div class="search-field">
    <%= f.label :user_nickname_cont, '投稿者名' %>
    <br>
    <%= f.text_field :user_nickname_cont, placeholder: '投稿者名' %>
  </div>
  <div class="search-field">
    <%= f.label :category_id_in, '気持ち' %>
    <br>
    <%= f.collection_check_boxes(:mind_id_in, Mind.all, :id, :name, {include_blank: "---"}) %>
  </div>
  <div class="search-field">
    <%= f.label :category_id_in, '夢のカテゴリー' %>
    <br>
    <%= f.collection_check_boxes(:category_id_in, Category.all, :id, :name, {include_blank: "---"}) %>
  </div>
  <div class="search-field">
    <%= f.label :category_id_in, '時間帯' %>
    <br>
    <%= f.collection_check_boxes(:time_zone_id_in, TimeZone.all, :id, :name, {include_blank: "---"}) %>
  </div>
  <%= f.submit '検索' %>
<% end %>
<div class="contents row">
  <%= render partial: "tweet", collection: @tweets %>
</div>