<div class="container">
  <h3 class="card-title"> <%= @tweet.title %></h3>
  <ul class="list-group list-group-flush">
    <div class="text-end">#<%= @tweet.tags&.first&.tag_name %></div>
    <li class="list-group-item"></li>
    <li class="list-group-item">投稿者：<%= link_to @tweet.user.nickname, user_path(@tweet.user.id) %></li>
    <li class="list-group-item">気持ち： <%= Mind.find(@tweet.mind_id)[:name] %></li>
    <li class="list-group-item">カテゴリー：<%= Category.find(@tweet.category_id)[:name] %></li>
    <li class="list-group-item">夢の長さ：<%= TimeLength.find(@tweet.time_length_id)[:name] %></li>
    <% if @tweet.thoughts %>
      <li class="list-group-item">＜感想など＞<br><%= @tweet.thoughts %></li>
    <% end %>
    <li class="list-group-item"></li>
  </ul>
  <h6 class="card-title">＜夢の内容＞</h6>
  <p class="card-text"><%= simple_format(@tweet.text) %></p>
  <p class="card-text"><small class="text-muted">投稿日：<%= l @tweet.created_at %></small></p>
  <% if user_signed_in? && current_user.id == @tweet.user_id %>
    <%= link_to '編集', edit_tweet_path(@tweet.id), class:"change-sleep" %>
    <%= link_to '削除', tweet_path(@tweet.id), method: :delete, class:"change-sleep" %>
  <% end %>

  <% if user_signed_in? %>
    <div id = "like_<%= @tweet.id %>">
      <%= render 'likes/like', tweet: @tweet %>
    </div>
  <% end %>
</div>

<div class="container">
    <% if user_signed_in? %>
      <%= form_with model: [@tweet, @comment], id: "comment_form" do |f| %>
        <div class="text-center"><%= f.text_area :text, placeholder: "コメントする(ポジティブな内容でお願いします)", rows: "2", class:"comment-form" %></div>
        <div class="text-center"><%= f.submit "送信",class: "submit-btn" %></div>
      <% end %>
    <% else %>
      <p class="text-center">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
    <% end %>
    <div class="comments">
      <h4 class="text-center">＜コメント一覧＞</h4>
      <div id="comments">
        <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, user_path(comment.user_id) %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
</div>