<!DOCTYPE html>
<html>
  <head>
    <title>ねむるん</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/534929e147.js" crossorigin="anonymous"></script>
       
  </head>
  <body>
    <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-info mt-2">
      <% if user_signed_in? %>
        <div class="header-name text-light align-self-start ms-2"><%= current_user.nickname %>の</div>
        <% if controller_path == 'diaries' %>
          <a class="header-title" href="/diaries"> ね む る ん 日記</a>
        <% else %>
          <a class="header-title" href="/"> ね む る ん 部屋</a>
        <% end %>
        <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
          <ul class="navbar-nav">
            <li>
              <% if controller_path == 'diaries' %>
                <%= link_to "（夢部屋へ）", root_path, class:"nav-link" %>
              <% else %>
                <%= link_to "（夢日記へ）", diaries_path, class:"nav-link" %>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse text-center" id="navbarNav">
          <ul class="navbar-nav">
            <li>
              <div class="d-grid gap-2 d-md-block">
                <% if (controller_path == 'diaries') %>
                  <button type="button" class="btn btn-outline-primary btn-sm"><%= link_to '夢日記をつける', new_diary_path, class:"nav-link" %></button>
                <% else %>
                  <button type="button" class="btn btn-outline-primary btn-sm"><%= link_to "投稿する", new_tweet_path, class:"nav-link text-light" %></button>
                </div>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li>
              <%= link_to "マイページ", user_path(current_user.id), class:"nav-link" %>
            </li>
            <li>  
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link" %>
            </li>
          </ul>
        </div>
      <% else %>
        <h5><a href="/"> ね む る ん 部屋</a></h5>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li>
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <%= yield %>
    <footer>
      <p>
        ~ ね む る ん ~
      </p>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
  </body>
</html>
