<!DOCTYPE html>
<html>
  <head>
    <title>ねむるん</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <script src="https://kit.fontawesome.com/534929e147.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <% if (controller_path == 'diaries') %>
          <h1 class="grid-6"><a href="/diaries">~ ね む る ん 日記 ~</a></h1>
        <% else %>
          <h1 class="grid-6"><a href="/">~ ね む る ん 部屋 ~</a></h1>
        <% end %>
        <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <span><%= current_user.nickname %>
            <ul class="user__info">
              <li>
                <%= link_to "ツイート", root_path %>
                <%= link_to "夢日記", diaries_path %>
                <%= link_to "マイページ", user_path(current_user.id) %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
          <% if (controller_path == 'diaries') %>
            <%= link_to '夢日記をつける', new_diary_path %>
          <% else %>
            <%= link_to "投稿する", new_tweet_path, class: "post" %>
          <% end %>
        </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>
      <%= yield %>
    <footer>
      <p>
        ~ ね む る ん ~
      </p>
    </footer>
  </body>
</html>
