<!DOCTYPE html>
<html>
  <head>
    <title>ねむるん</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <script src="https://kit.fontawesome.com/534929e147.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-info mt-3 mb-3">
      <% if user_signed_in? %>
        <% if (controller_path == 'diaries') %>
          <h5 class="text-light"><span><%= current_user.nickname %>の</span><a href="/diaries"> ね む る ん 日記</a></h5>
        <% else %>
          <h5 class="text-light"><span><%= current_user.nickname %>の</span><a href="/"> ね む る ん 部屋</a></h5>
        <% end %>
        <div class="collapse navbar-collapse justify-content-start">
          <ul class="navbar-nav">
            <li>
              <% if (controller_path == 'diaries') %>
                <%= link_to "ツイートへ", root_path, class:"nav-link" %>
              <% else %>
                <%= link_to "夢日記へ", diaries_path, class:"nav-link" %>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse text-center">
          <ul class="navbar-nav">
            <li>
              <% if (controller_path == 'diaries') %>
                <%= link_to '夢日記をつける', new_diary_path, class:"nav-link" %>
              <% else %>
                <%= link_to "投稿する", new_tweet_path, class:"nav-link" %>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li>
              <%= link_to "マイページ", user_path(current_user.id), class:"nav-link" %>
            </li>
            <li>  
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link" %>
            </li>
          </ul>
        </div>
      <% else %>
        <h5><a href="/"> ね む る ん 部屋</a></h5>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li>
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      <% end %>
    </nav>
    <%= yield %>
    <footer>
      <p>
        ~ ね む る ん ~
      </p>
    </footer>
  </body>
</html>
